*{
  margin: 0!important;
  padding: 0!important;
}
.home .row{
  width: 100%!important;
}
.ShowcaseImg{
  width: 800px;
  height: 100vh;
  background-image: url('../../images/bg.svg');
  background-position: center;
  background-size: cover;
}
.btn-floating{
  background-color: #ffbe63!important;
  color: #fff!important;
  height: 60px;
  width: 70px;
  position: absolute;
  top: 550px;
  right: 100px;
  font-size: 12px!important;
  font-weight: 200;
  padding-top: 10px!important;
}